{% extends '@MailThemes/modern/components/layout.html.twig' %}

{% block content %}
    <table width="100%">
        <thead>
            <tr><th>{title_message}</th></tr>
        </thead>
        <tbody>
            <tr><td>{content_message}</td></tr>
        </tbody>
    </table>
{% endblock %}